{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TA Scheduling Tool</title>
    <link rel="stylesheet" href="{% static 'stylesheets/common_style.css' %}">
    <style>
        #notifications {
            border: 1px solid black;
            width: 100%;
            height: 300px;
            background: white;
        }
    </style>
</head>
<body>
    <header>
        <img src="../static/images/UWM_TA_sched_logo.png" alt="UWM Logo">
    </header>
    <nav>
        <a href="#" class="active">Dashboard</a>
        <a href={% url "courses" %}>Courses</a>
        <a href="#">Send Notifications</a>
        <a href={% url "accounts" %}>Accounts</a>
        <a href="#">Feedback</a>
        <div class="right">
            <a href="#">My Account Info</a>
        </div>
    </nav>
    <main>
        <h2>Incoming Notifications</h2>
        <div id="notifications"></div>
    </main>
</body>
</html>